* {
    font-family: Anime;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

img {
    height: 4.5rem;
    margin-left: 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
    margin-right: 3rem;
}

a {
    color: white;
    text-decoration: none;
}

.cartEffect {
    position: relative;
    max-width: 100%;
}

.cartEffect img.cartHover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.cartEffect:hover img.cartHover {
    opacity: 1;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    align-items: center;
}

footer a {
    color: white;
}