* {
    font-family: Anime;
}

.carousel {
    top: 8vh;
    width: 100vw;
    position: relative;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    height: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}

.slide[data-active] {
    opacity: 1;
}

.slide>img {
    display: block;
    object-position: center;
    width: 100vw;
    height: 28vh;
    object-fit: cover;
    margin: 0;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    height: 8vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

img {
    height: 4.5rem;
    margin-left: 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.1rem;
    align-items: center;
    margin-right: 3rem;
}

li img {
    height: 3.5vh;
}

a {
    color: white;
    text-decoration: none;
}

.cartEffect {
    position: relative;
    max-width: 100%;
}

.cartEffect img.cartHover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.cartEffect:hover img.cartHover {
    opacity: 1;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    background-color: black;
    color: white;
    align-items: center;
}

footer a {
    color: white;
}

@media (max-width: 600px) {
    .slide>img {
        height: 20vh;
    }
}